<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Tristan Studios</title>
</head>
<body>
    <div class="header">
        <h1>Tristan Studios</h1>
    </div>
    <div class="content">
      <div class="category">
          <h2>Movies</h2>
          {% for movie_id, movie in movies.items() %}
          <div class="movie">
              <a href="{{ url_for('movie', movie_id=movie_id) }}">
                  <img src="{{ movie['image'] }}" alt="{{ movie['title'] }}">
                  <h3>{{ movie['title'] }}</h3>
                  <p>{{ movie['description'] }}</p>
              </a>
          </div>
          {% endfor %}
      </div>
  </div>
</body>
</html>
